# IDEs
.idea/

# Hugo
resources/
public/
jsconfig.json
node_modules/
go.sum
.hugo_build.lock
.DS_Store
deploy-*.zip
deploy-*.tar.gz
favicon_io.zip
hugo-academic-4.8.0.tar.gz
server.log
content/authors/onurgu/note.txt
